<h2>New Celebrity</h2>

<form action="/celebrities/create" method="POST">
    <label for="name">Celebrity Name:</label>
    <input id="name" name="name" type="text"></input>

    <label for="occupation">Occupation:</label>
    <input id="occupation" name="occupation" type="text"></input>
    
    <label for="catchPhrase">Catch Phrase:</label>
    <input id="catchPhrase" name="catchPhrase" type="text"></input>
    <button type="submit">Add new celebrity</button>
</form>